
.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top:200px;
}
.form-group {
    margin-bottom: 15px;
}

input[type="password"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom:30px;
}
#button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-right:5px;
     transition: background-color 0.4s;
}
#button:hover{
  background-color: rgba(39, 185, 10, 0.3);
}

.pwFind{
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px;
    height:300px;
    margin-top:250px;
    margin-bottom: 100px;
}
p.font{
    width:400px;
    margin-left:10px;
    display:block;
}
#pwChk2{
  display:block;
  position:relative;
  bottom:25px;
}
#pwChk{
  display:block;
  position:relative;
  bottom:25px;
}
#pwChange{
  padding: 10px 15px;
  background-color: #007BFF;
   color: #fff;
   width:200px;
   height:60px;
  border-radius: 10px;
    display: block;
  margin: 100px auto 130px;
   transition:background-color 0.4s;
 }
 #pwChange:hover{
   background-color: rgba(39, 185, 10, 0.3);
 }