/* footer style */
footer {
  background-color: black;
  position: relative;
}

footer .inner {
  color: #fff;
  width: 60%;
  height: 125px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .inner h2 {
  width: 30%;
}

footer .inner h2 img {
  width: 100px;
}

footer .inner p {
  width: 30%;
  font-size: 12px;
  flex-grow: 2;
  text-align: center;
}

footer .inner ul {
  font-size: 16px;
  width: 30%;
  display: flex;
  justify-content: end;
}

footer .inner ul li:first-child {
  font-weight: bold;
}

footer .inner ul li {
  margin-right: 10px;
}

footer .inner ul li:last-child {
  margin-right: 5px;
}

footer .lnr-envelope {
  font-size: 23px;
  font-weight: 600;
  margin-left: 10px;
}

