m * {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: "Noto Sans KR", sans-serif;
}

button {
  outline: none;
  border: none;
}


#wrap {
  width: 88%;
  margin: 150px auto;
}


/* reset */
a {
  color: inherit;
  text-decoration: none;
}


/* common style */
.hide {
  display: none !important;
}

/* header style */
header {
  /* background: red; */
  /* background: #fff7d6; */
  background: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}





header.on {
  background: #222;
  border-bottom: 1px solid #2c2c2c;
  transition: .4s;
}

header .inner-header {
  /* background: orange; */
  width: 88%;
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #000000;
}
header .inner-header .logo {
  /* background: tomato; */
  margin-top: 15px;
  flex: 1;
  width: 130px;
}
header .inner-header .logo a {
  display: block;
  width: 200px;
}
header .inner-header .logo a img {
  height: 50px;
}
/* 프로필 css */
header .inner-header .profile-wrapper {
  flex: 5;
  display: flex;
  margin-top: 40px;
}

header .inner-header .profile-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  margin-top: 5px;
}

header .inner-header .profile-box img {
  width: 100%;
}

header .inner-header .intro-text {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 3px;
  line-height: 50px;
}

header .inner-header .menu-open {
  /* background: skyblue; */
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


header .inner-header .menu-open .lnr-menu {
  color: #12e6fc;
  font-size: 40px;
  font-weight: bold;
}

/* header gnb style */
header .gnb {
  background: #12e6fc;
  color: #000000;
  width: 400px;
  height: 100vh;
  font-size: 25px;
  padding-top: 110px;
  box-sizing: border-box;

  position: fixed;
  z-index: 2000;
  right: -100%;
  top: 0;
  transition: .6s;

  display: flex;
  flex-direction: row-reverse;
}
header .gnb.on {
  right: 0;
}

header .gnb .close {
  display: block;
  margin-right: 50px;
  color: #000000;
}
header .gnb ul {
  width: 300px;
  /* background-color: tomato; */
  margin-right: 100px;
  
}
header .gnb ul li {
  line-height: 1.7;
}

header .gnb ul li.active
{
  color: #ffffff;
}