@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 15px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #afcce7; /* 스크롤바의 색상 */
  border-radius: 10px;
}

*{
  box-sizing: border-box;
  font-family: 'GangwonEdu_OTFBoldA';
}


button {
  outline: none;
  border: none;
}


#wrap {
  width: 88%;
  margin: 150px auto;
}


/* reset */
a {
  color: black;
  text-decoration: none;
}



/* common style */
.hide {
  display: none !important;
}

/* header style */
header {
  background: #fff7d6;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}






header.on {
  background: #222;
  border-bottom: 1px solid #2c2c2c;
  transition: .4s;
}

header .inner-header {
  /* background: orange; */
  width: 88%;
  margin: 0 auto;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #000000;
}
header .inner-header .logo {
  /* background: tomato; */
  margin-top: 15px;
  flex: 1;
  width: 130px;
}
header .inner-header .logo a {
  display: block;
  width: 200px;
}
header .inner-header .logo a img {
  height: 50px;
}
/* 프로필 css */
header .inner-header .profile-wrapper {
  flex: 5;
  display: flex;
  margin-top: 40px;
}

header .inner-header .profile-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  margin-top: 5px;
  cursor: pointer;
}

header .inner-header .profile-box img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

header .inner-header .intro-text {
  color: black;
  font-size: 15px;
  font-weight: 400;
  margin-left: 15px;
  line-height: 50px;
  cursor: pointer;
}

header .inner-header .menu-open {
  /* background: skyblue; */
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


header .inner-header .menu-open .lnr-menu {
  color: #878981;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 0 1px rgb(70 70 68), 0 0 4px rgb(4, 18, 19);
  cursor: pointer;
}

/* header gnb style */
header .gnb {
  font-family: 'TAEBAEKmilkyway';
  background: #c9fbd9;
  color: #c8ced3;
  width: 400px;
  height: 65%;
  font-size: 25px;
  padding-top: 110px;
  box-sizing: border-box;
  position: fixed;
  z-index: 2000;
  right: 0;
  top: -100%;
  transition: .6s;
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
  /* opacity: 0.4; */
}
header .gnb.on {
  top: 0;
}



header .gnb .close {
  display: block;
  margin-right: 50px;
  color: #000000;
}
header .gnb ul {
  width: 300px;
  /* background-color: tomato; */
  margin-right: 100px;

}
header .gnb ul li {
  line-height: 1.7;
  margin-bottom: 60px;
}

header .gnb ul li.active{
  color: #ffffff;
}

.linkcolor li a:hover {
  color: #d92bca;
}