/* 상단 날씨, 의상 표현 영역 */
.top-section {
  width: 100%;
  height: 600px;
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
}


.top-section .right-section {
  width: 40%;
  margin-top: 50px;
  text-align: center;
}

.top-section .right-section img {
  margin-top: 30px;
  width: 450px;
}


.top-section .left-section {
  width: 40%;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

.top-section .left-top {
  /*background: #12e6fc;*/
  height: 320px;
}

.top-section .left-top .weather-icon {
  transform: scale(5);
  margin-top: 100px;
  padding-top: 10px;
}

.top-section .left-middle {
  position: absolute;
  z-index: 999;
  right: 30%;
  top: 30%;
  font-weight: 700;
}

.top-section .left-middle p {
  font-size: 15px;
  color: #0a0064;
}


.top-section .left-middle p span {
  font-size: 60px;
}

.top-section .left-down {
  margin-top: 10px;
  text-align: center;
  /*background: tomato;*/
}

/* 날씨 검색 영역 */

.search-section {
  justify-content: flex-end;
  margin-top: 60px;
  margin-bottom: 30px;
}


.search-section form {
  margin-top: 30px;
  display: flex;
}

.search-section form select {
  width: 200px;
  margin-right: 10px;
}




/* BEST OOTD 게시글 영역 */

.board-section {
  margin-top: 60px;
  position: relative;
}



.board-section #add-btn {
  width: fit-content;
  padding: 8px 16px;
  font-weight: 700;
  background: rgb(231, 231, 231);
  border-radius: 5px;
  color: #000000;
  font-size: 18px;
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
}
.board-section #add-btn:hover {
  font-weight: 700;
  color: #12e6fc;
  background: #000000;
}



.card-container {
  display: flex;
  justify-content: space-between;

}



.card-container .card-wrapper {
  position: relative;
  width: 22%;
  margin-right: 2%;
  height: 400px;
  margin-bottom: 100px;
  cursor: pointer;
  transition: 0.5s;
}

.card-container .card {
  height: 600px;
  border-radius: 5px;
  box-shadow: 0 5px 0 #999;
  overflow: hidden;
  transition: 0.5s;
  border: 0px solid transparent;
  margin-top: 10px;
}

.card-container .card:last-child {
  margin-right: 0;
}

.card-container .card .card-title-wrapper {
  color: #000000;
  display: flex;
}

.card-container .card-wrapper .card-title-wrapper {
  background:rgb(231, 231, 231);
}

.card-container .card-wrapper .card-title-wrapper .profile-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  margin-left: 20px;
  overflow: hidden;
}
.card-container .card-wrapper .card-title-wrapper .profile-box img {
  width: 100%;
}


.card-container .card-wrapper .card-title-wrapper .card-account {
  /* width: 50%; */
  font-size: 15px;
  display: flex;
  justify-content: start;
  align-items: center;

}

.card-container .card .icon-wrapper {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
}

.card-container .card .icon-wrapper .reply-icon {
  margin-left: 10px;
}

.card-container .card .icon-wrapper span.hashtag {
  font-size: 13px;
  font-weight: 400;
  color: #646464;
  margin-left: 10px;
}

.card-container hr {
  margin: 0px;
}

.card-container .card .content-wrapper {
  margin-top: 5px;
  line-height: 15px;
}

.card-container .card .content-wrapper p:first-child {
  margin-top: 10px;
}

.card-container .card .content-wrapper p {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 10px;
}

.card-container .card .content-wrapper span.card-account {
  font-weight: 700;
}


.card-container .card .card-picture {
  background-color: #fff;
 
 height: 500px;
  overflow: hidden;
}
