@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GangwonEdu_OTFBoldA';
    background-color: #fff;
}

/* static header 아래 my-history 틀과 카드 형식을 감싸는 */
.main-wrapper {
    margin: 170px auto 0px;

    width: 88%;

    flex-direction: column;
}

/* my-history 제목과 버튼[작성한글, 작성댓글, 좋아요 글]을 감싼*/
.main-wrapper .title {
    margin: 160px auto 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* my-history 글자체 */
.main-wrapper .title div h1 {
    justify-content: flex-end;
    font-family: 'EF_jejudoldam';
}

.main-wrapper .title .user-feed {
    display: flex;
    justify-content: space-between;
}

.main-wrapper .title .user-feed .user-feed-button {
    width: 120px;
    margin: 10px 0 10px 20px;
    border-radius: 10px;

    /* 글자 */
    color: black; /* 글자색 */
    font-weight: 600;
    text-align: center;
    line-height: 50px;

    transition: all 0.2s;

    background: #12e6fc;
    box-shadow: 0px 5px 0px 0px #0c91a5;
}

/* 버튼 눌렀을 때 디자인 */
.main-wrapper .title .user-feed .selected {
    width: 120px;
    border-radius: 10px;

    /* 글자 */
    color: white; /* 글자색 */
    font-weight: 600;
    text-align: center;
    line-height: 50px;

    transition: all 0.2s;

    background: #0f0288;

    margin-top: 15px;

    /* margin-bottom 을 주어야 버튼이 눌러졌을 때,
    아래 카드 박스의 배치에 영향이 없다.  */
    margin-bottom: 5px;

    box-shadow: 0px 0px 0px 0px #0c91a5;
}

/* 버튼 박스 안의 a태그 */
.main-wrapper .title .user-feed .user-feed-button a {
    display: block;

    width: 100%;
    height: 100%;
}

/* 버튼에 마우스 올렸을 때*/
.main-wrapper .title .user-feed .user-feed-button:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px #007144;
}

/* .upload-btn은 뭐냐 */
.upload-btn {
    margin-right: 30px;
    margin-bottom: 10px;
    background-color: lightgray;
    padding: 10px;
    height: 30px;
    align-content: center;
    border: 0.5px solid #000;
}

/* --- 카드 형식 디자인 --- */

/* 1. 포스트가 비어있을 때 디자인 버전 */
/* 텅 디자인 */
.main-wrapper div:nth-child(2) .empty-post-box {
    margin: 0 auto;
}

.main-wrapper div:nth-child(2) .empty-post-box h1 {
    font-family: 'EF_jejudoldam';
    font-weight: 600;

    font-size: 35rem;
    text-align: center;

    margin-bottom: 0;
}


/* 게시글이 존재하지 않습니다 텍스트 디자인 */
.main-wrapper div:nth-child(2) .empty-post-box p {
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

/* 2. 포스트가 있을 때 디자인 버전 */

/* 카드 n개를 감싸는 컨테이너 */
.card-container {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    margin: 4% auto;
}

/* ? */
.card-container .top-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-top: 100px;
}

/* ? */
#keyword {
    margin-left: 30px;
    height: 30px;
}

/* 카드 한 개 */
.card-container .card-wrapper {
    position: relative;
    width: 22%;
    height: 600px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 70px;

    /* 한 줄에 카드 4개 오는데,
    카드 3개만 margin-right 4%씩 */
    margin-right: 4%;
}

.card-container .card-wrapper:nth-child(4n) {
    /* 한 줄에 카드 4개 오는데,
    카드 3개만 margin-right 4%씩
    마지막 카드 1개는 margin-right 0% */
    margin-right: 0%;
}


/* 카드 n개를 감싸는 대형 컨테이너(.card-container) 안에
카드 1개의 형식을 감싸는(.card-wrapper)
찐 최종으로 카드 1개 내부의 내용(컨텐츠 ex. 프로필 사진, 아이콘 등)을 모두 감싸는*/
.card-container .card-wrapper .card {
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 0 #999;
    overflow: hidden;
    transition: 0.5s;
    border: 0px solid transparent;
}

/* 프로필 사진(img) 박스, 닉네임, 삭제 버튼을 감싸는 */
.card-container .card .card-title-wrapper {
    background: rgb(231, 231, 231);
    display: flex;
}

/* 유저가 게시물 올릴 때 올리는 사진 공간 */
.card-container .card-wrapper .card-picture img {
    width: 100%;
    height: 100%;
}

/* 프로필 사진을 감싸는 div */
.card-container .card-wrapper .card-title-wrapper .profile-box {
    width: 50px;
    height: 50px;
    margin: 15px;
}

/* 프로필 사진을 감싸는 div 속 프로필 */
.card-container .card-wrapper .card-title-wrapper .profile-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* span요소 사용자 닉네임이 출력되는 */
.card-container .card-wrapper .card-title-wrapper .card-account {
    width: 70%;
    font-size: 20px;
    padding-top: 30px;
}

/* 카드 형식에서 프로필 사진, 닉네임 옆에 삭제 버튼을 감싸는
background를 none으로 해야 바깥 배경 회색이 비쳐진다.
opacity(투명도)를 0으로 주어 글자가 안보이게 한다. */
.board-del-btn {
    background: none;
    opacity: 0;
}

/* 프로필 박스와 닉네임, 삭제 버튼을 감싸는 박스에 마우스를 올리면
삭제 버튼의 투명도가 1이 되어 삭제 글씨가 보이게 된다. */
.card-container .card-wrapper:hover .board-del-btn {
    opacity: 1;
}


.card-container .card .icon-wrapper {
    display: flex;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.card-container .card .icon-wrapper .like-icon {
    width: 23px;
    align-items: center;
    margin-right: 10px;
}




.card-container .card .icon-wrapper .reply-icon {
    margin-left: 10px;

}

.card-container .card .icon-wrapper span.hashtag {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 400;
    color: #646464;
}

.card-container hr {
    margin: 0px;
}

.card-container .card .content-wrapper {
    margin-top: 5px;
    line-height: 15px;

}

.card-container .card .content-wrapper .count-wrapper {
    border-bottom: 1px solid lightgray;
    margin: 0;
    width: 100%;
    align-content: center;
    height: 40px;
}

.card-container .card .content-wrapper .main-content {
    margin-top: 10px;
}

.card-container .card .content-wrapper .count-wrapper .count:first-child {
    margin-left: 20px;
}

.card-container .card .content-wrapper p {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 10px;

}

.card-account {
    font-weight: 700;

}


.card-container .card .card-picture {
    background-color: #fff;

    height: 500px;
    overflow: hidden;
}

.main-content {
    overflow: hidden;
    height: 30px;
}

/* start 페이지 스타일 /
/ pagination style */
.bottom-section {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.bottom-section nav {
    flex: 1;
    justify-content: center;
}


.pagination-custom a {
    color: #444 !important;
}

.pagination-custom li.active a,
.pagination-custom li:hover a {
    background: #333 !important;
    color: #fff !important;
}

/*  end 페이지스타일  */












/* 모달 */



.modal {
    /* 트랜지션 효과 */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    box-sizing: content-box;

}

.modal.show {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    pointer-events: auto;

    margin-left: 0;
}

.modal {
    /* 스타일 - customize */
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    padding: 20px;

    /* 트랜지션 효과 */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;

    /* 화면 전체를 덮게하는 코드 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* 중앙에 오게하는 코드 */

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20000px;
}

.modal-content {
    /* 스타일 - customize */
    max-width: 1200px;
    width: 100%;
    height: 700px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    /* 트랜지션 효과 */
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    transform: scale(0.8);

}

.modal.show {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    pointer-events: auto;

    margin-left: 0;
}

.modal.show .modal-content {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    transform: scale(1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.close:hover {
    color: black;
}


.modal-content .card-wrapper div.modal-wrapper-card {
    display: flex;
    width: 100%;
    height: 655px;
    /* border: 1px dashed purple; */
}

.modal-content .card-wrapper div.modal-wrapper-card .modal-wrapper-card-1 {
    width: 50%;
    border-right: 1px solid lightgray;
    height: 100%;
}

.modal-content .card-wrapper div.modal-wrapper-card .modal-wrapper-card-2 {
    width: 50%;
    /* border: 1px dashed red; */
    height: 100%;
}


.modal-content .card-picture img {
    width: 100%;
    height: 100%;
}

.modal-content .card-wrapper .card-title-wrapper .profile-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    margin-left: 20px;
    overflow: hidden;

}

.modal-content .card-wrapper .card-title-wrapper .card-account {
    font-size: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 0px;


}

.modal .card-title-wrapper {
    display: flex;
    border-bottom: 1px solid lightgray;
}

/* 프로필사진 영역 */
.modal-content .card-wrapper .card-title-wrapper .profile-box img {
    width: 100%;
    align-content: center;
}

.modal .card-title-wrapper .time-stamp {
    width: 20%;
    align-content: center;
}

.modal-content .card-account {
    /* border: 1px dashed red; */
    margin-left: 10px;

    width: 80%;
}

.modal-content .li-ha .hashtag {
    font-size: 20px;
    line-height: 15px;
}

.modal-content .card-account p {
    font-size: 30px;
}

.modal-content .card .content-wrapper {
    /* margin-top: 5px; */
    border-top: 1px solid lightgray;
    /* line-height: 15px; */
    overflow: auto;

    /* border: 1px dashed; */
}

.modal .like-icon {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    border-bottom: 1px solid lightgray;

    align-items: center;
    padding: 10px;
}

.modal .like-icon .heart {
    width: 23px;
}

.modal .like-icon .count {
    width: fit-content;
}

.like-icon .like-count {
    margin-left: 45px;
}

.replys .content-comments {
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hashtag-wrapper {
    width: 85%;
}

/* 댓글 부분 */



.modal .modal-wrapper-card-2 .replys {
    width: 100%;
    /* border: 1px dashed red; */
    height: 487px;
    overflow: auto;
    -ms-overflow-style: none;
}

.modal .modal-wrapper-card-2 .replys::-webkit-scrollbar {
    display: none;
}

.modal .modal-wrapper-card-2 .replys .reply-wrapper {
    width: 100%;
    margin-top: 7px;
    /* border: 1px dashed blue; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.modal .modal-wrapper-card-2 .replys .reply-wrapper .card-account {
    width: 40%;
    margin-left: 15px;
}

.modal .modal-wrapper-card-2 .replys .reply-wrapper .card-account .profile-img {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    border-radius: 50%;
    overflow: hidden;
}

.modal .modal-wrapper-card-2 .replys .reply-wrapper .reply {
    width: 100%;
    margin-left: 8%;
    margin-top: 5px;
    margin-bottom: 0;
}

.modal .modal-wrapper-card-2 .replys .reply-data {
    width: 100%;
    /* border: 1px dashed purple; */
    margin-bottom: 7px;
}

.modal .modal-wrapper-card-2 .replys .reply-data .time {
    margin-left: 8%;
}

.modal .modal-wrapper-card-2 .replys .reply-data * {
    font-size: 13px;
    color: gray;
    margin-left: 10px;
    background: none;
}

/* 댓글 입력 버튼창 */
.modal-content .write-reply {
    border: 1px solid lightgray;
    align-items: end;
}

.modal-content .write-reply .write-wrapper {
    width: 100%;
    /* border: 1px dashed;  */
    display: flex;
}

.modal-content .card .content-wrapper p:first-child {
    margin-top: 10px;

}

.modal-content .write-reply .write-input {
    font-size: 15px;
    width: 85%;
    height: 100%;
    border-style: none;

    /* border: 1px dashed; */
}

.modal-content .write-reply .write-send {
    width: 15%;
}

.modal-content .like-image {
    margin: 0px 10px;
    width: 23px;
}

.modal-content .card .card-picture {
    background-color: #fff;
    height: 500px;
    overflow: hidden;
}



/* 모달 끝*/