.container {
    margin-top: 160px;
    margin-bottom: 30px;
    width: 50%;
    background: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

.form {
  margin-bottom: 30px;
}

.inner {
  width: inherit;
}

h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}

/*'수정하기' 버튼 클릭 전 등록 정보 보여주기 style*/

.image_container {
  width: 350px;
  height: 260px;
  margin: 0 auto;
}

#image-preview {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
  overflow: hidden;
  display: block;
}

.inner-before .form-selection {
  width: 70%;
  margin: 0 auto;
}

.inner-before p.inform {

  text-align: center;
  font-size: 17px;
  font-weight: 700;
}

.inner-before .form-selection div {
  margin: 0 auto;
  width: 60%;
}

/*table css*/

table {
  width: 60%;
  text-align: center;
  border: 1px solid #fff;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

table td {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

table tr td:first-child {
  background: #12e6fc;
  color: #333333;
  font-weight: 700;
  padding: 10px;
  width: 30%;
}

table tr td:last-child {
  text-align: left;
}

table tr td p {
  padding: 0;
  margin: 0;
}


/* table 모서리 둥글게 처리*/
tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
tr:first-child td {
  border-top-style: solid;
}
tr td:first-child {
  border-left-style: solid;
}

/*수정하기 버튼 클릭시 style*/

.inner-change .btn_image {
  width: 170px;
  text-align: center;
  display: block;
  margin: 10px auto 30px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  color: #12e6fc;
  border-radius: 5px;
  cursor: pointer;
}

.inner-change .btn_image:hover {
  color: black;
  background-color: #12e6fc;
}


.inner-change .form-selection {
  margin: 0 auto;
}


.inner-change table .btn-modify {
  font-size: 15px;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 5px 10px;
  background-color: black;
  color: #12e6fc;
  border-radius: 5px;
  cursor: pointer;
}

.inner-change table .btn-modify:hover {
  color: black;
  background-color: #12e6fc;
}

.input-part {
  width: 200px;
  height: 30px;
  margin-bottom: 7px;
  margin-top: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#pwChk, #reChkPw {
  display: block;
  font-size: 12px;
  margin-bottom: 20px;
}

#submit_button {
  width: 150px;
  text-align: center;
  display: block;
  margin: 30px auto 20px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  color: #12e6fc;
  border-radius: 5px;
  cursor: pointer;
}

#change-password {
  width: 150px;
  text-align: center;
  display: block;
  margin: 15px auto 30px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  color: #12e6fc;
  border-radius: 5px;
  cursor: pointer;
}

#submit_button:hover, #change-password:hover {
  color: black;
  background-color: #12e6fc;
}


