@font-face {
  font-family:'GOSEONGGEUMGANGNURI';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/GOSEONGGEUMGANGNURI.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



body{

  letter-spacing: 3px;
  background: linear-gradient(90deg, white ,gray, black);
    height: 100vh;
    margin: 0;
}

strong{
  color: white;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top:200px;
    background-color: black;
    font-family:'GOSEONGGEUMGANGNURI';
}
.form-group {
    margin-bottom: 15px;
}
input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#emailChkInput{
width:300px;
}
#mailCheckMsg{
display:block;
margin-top:5px;
}
input[type="password"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom:30px;
}
#button {
    padding: 10px 15px;
    margin-right:5px;
     cursor: pointer;
  transition: background-color 0.4s;
  color: black;
  border: 3px solid white;
  border-radius:15px;
  box-shadow:inset 0 0 10px 2px blue,0 0 10px 2px blue;
}
#button:hover{
  box-shadow:inset 0 0 10px 2px rgb(202, 22, 238),0 0 10px 2px rgb(202, 22, 238);
  transition: 0.5s;
  scale:1.1;
}

.pwFind{
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 15px;
    padding:40px;
  height:300px;
    margin-top:100px;
}
p.font{
    width:400px;
    margin-left:10px;
    display:block;
}
#pwChk2{
  display:block;
  position:relative;
  bottom:25px;
}
#pwChk{
  display:block;
  position:relative;
  bottom:25px;
}
#pwChange{
  padding: 10px 15px;
   width:400px;
   height:60px;
  border-radius: 10px;
  margin-bottom:50px;
  margin-left:38%;
  cursor: pointer;
  transition: background-color 0.4s;
  color: black;
  border: 3px solid white;
  border-radius:10px;
  box-shadow:inset 0 0 10px 2px blue,0 0 10px 2px blue;
  font-weight: bold;
  font-family:'GOSEONGGEUMGANGNURI';
  font-size: 21px;
 }
 #pwChange:hover{
  box-shadow:inset 0 0 10px 2px rgb(202, 22, 238),0 0 10px 2px rgb(202, 22, 238);
  transition: 0.5s;
  scale:1.1;
 }