@font-face {
    font-family: 'YEONGJUSeonbiTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body header {
    background: none;
}

body footer {
    background: none;
}
body header .inner-header .menu-open .lnr-menu {
    display: none;
}

body .back {
    width: 100%;
    /* opacity: 0.7; */
    background-image: url(../img/sky-11.gif);
    background-repeat: no-repeat;
    background-size: cover;

}

body .back .container {
    /* opacity: 1; */
    border-radius: 8px;
    letter-spacing: 2px;
    padding: 20px;
    width: 300px;
    /* margin-top: 20px; */
    padding-top: 142px;
    height: 820px;
    font-family: 'YEONGJUSeonbiTTF';

}

.logintextlogin {
    padding-bottom: 5px;
    color: black;
    padding-left: 34px;
    font-family: 'TAEBAEKmilkyway';
    font-size: 41px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;


}

input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #8d8383;



}

.input-group {
    margin-bottom: 10px;
    width: 400px;
}

input[type="submit"] {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    width: 300px;
    margin-bottom: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s;
    color: black;
    font-weight: bold;
    font-size: 21px;
    margin-top: 10px;
    height: 53px;
    font-family: 'YEONGJUSeonbiTTF';
    border-radius: 10px;
    box-shadow: 2px 2px 5px #8d8383;
    background: linear-gradient(to left bottom, white, #80808070, white, #80808070);
}

input[type="submit"]:hover {
    box-shadow: inset 0 0 10px 2px red, 0 0 10px 2px red;

    color: black;
    border: solid 0px;


}

.signup-btn {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    width: 300px;
    margin-bottom: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s;
    color: black;
    font-weight: bold;
    font-size: 21px;
    margin-top: 10px;
    height: 53px;
    font-family: 'YEONGJUSeonbiTTF';
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 2px 2px 5px #8d8383;
    background: linear-gradient(to left bottom, white, #80808070, white, #80808070);
}

.signup-btn:hover {
    box-shadow: inset 0 0 10px 2px red, 0 0 10px 2px red;

    color: black;
    border: solid 0px;


}

.signup-link,
.forgot-link {
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
    margin-left: 47px;
    color: black;
}

.signup-link,
.forgot-link:hover {
    transition: 0.5s;



}

a:hover {}

.kakaologinlogo {
    display: block;
    text-align: center;
    border-radius: 5px;
    background-color: #FEE500;
    width: 300px;
    height: 45px;
    margin-top: 10px;

}

.autologinbox {
    cursor: pointer;


}

span {
    color: black;
}

#naverlogo {
    height: 51px;
    vertical-align: middle;
    width: 192px;
}

.naverlogobackground {
    background-color: #03c75a;
    text-align: center;
    display: block;
    margin-top: 10px;
    width: 300px;
    border-radius: 5px;
    height: 51px;
}

#googlelogo {
    display: block;
    text-align: center;
    border-radius: 5px;
    width: 300px;
    height: 45px;
    margin-top: 10px;
}

.googlelogobackground {
    background-color: #ffffff;
    text-align: center;
    display: block;
    margin-top: 10px;
    width: 300px;
    border-radius: 5px;
    height: 51px;
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 5%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 10%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 15%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 20%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 25%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 30%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 35%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 40%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 45%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 50%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(11) {
    left: 55%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(12) {
    left: 60%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(13) {
    left: 65%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(14) {
    left: 70%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(15) {
    left: 75%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(16) {
    left: 80%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(17) {
    left: 85%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(18) {
    left: 90%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(19) {
    left: 95%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}