<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohnal.chap.mapper.BoardMapper">

    <select id="findAll" resultType="board">
        SELECT * FROM tbl_board

        ORDER BY board_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_board
    </select>

    <insert id="save">
        INSERT INTO tbl_board (
            nickname, content, image, location_tag, weather_tag, email
        )
        VALUES (
            #{nickname}, #{content}, #{image}, #{locationTag}, #{weatherTag}, #{email}
        )
    </insert>

    <select id="findOne" resultType="board">
        SELECT * FROM tbl_board
        WHERE board_no = #{bno}
    </select>

    <update id="updateViewCount">
        UPDATE tbl_board
        SET view_count = view_count + 1
        WHERE board_no = #{bno}
    </update>
    
    <select id="replyList" resultType="reply">
        SELECT
            A.reply_no, A.content, A.reg_date,
            B.email, B.nickname, B.profile_image
        FROM tbl_reply A
        LEFT OUTER JOIN tbl_member B
        ON A.email = B.email
        WHERE board_no = #{bno}
        ORDER BY reply_no
    </select>

    <insert id="replySave">
        INSERT INTO tbl_reply (
            email, board_no, content, nickname
        )
        VALUES (
            #{email}, #{bno}, #{content}, #{nickname}
        )
    </insert>

</mapper>